parameters:
    # see https://phpstan.org/user-guide/output-format#opening-file-in-an-editor
    editorUrl: "phpstorm://open?file=%%file%%&line=%%line%%"

    level: max

    paths:
        - rector.php
        - ecs.php
        - src
        - tests
    excludes_analyse:
        - "*/Expected/*"
        - "*tests/*/Fixture/*"
        - "*tests/*/MyExtension/*"
        - "*tests/*/MySecondExtension/*"
        - "*tests/*/Source/*"
        - "*tests/Source/*"
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#Method Ssch(.*?)provide(.*?) return type has no value type specified in iterable type Iterator#"
        - "#^PHPDoc tag @extends contains generic type Symplify\\\\PHPStanExtensions\\\\Testing\\\\AbstractServiceAwareRuleTestCase#"
        - "#return type with generic interface PHPStan\\\\Rules\\\\Rule does not specify its types: TNodeType#"
