parameters:
    # see https://phpstan.org/user-guide/output-format#opening-file-in-an-editor
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    level: max

    paths:
        - rector.php
        - ecs.php
        - src
        - tests
    excludes_analyse:
        - "*/Expected/*"
        - '*tests/*/Fixture/*'
        - '*tests/*/Source/*'
        - '*tests/Source/*'
