includes:
    - ../../../config/included_services.neon

services:
    -
        class: Ssch\Typo3PhpstanRules\Rules\MissingVarAnnotationForPropertyInEntityClassRule
        tags: [phpstan.rules.rule]
