services:
    -
        class: Symplify\PHPStanRules\Rules\NoFactoryInConstructorRule
        tags: [phpstan.rules.rule]
    -
        class: Ssch\Typo3PhpstanRules\Rules\MissingDefaultValueForTypedPropertyRule
        tags: [phpstan.rules.rule]
