services:
    -
        class: Symplify\PHPStanRules\Rules\UppercaseConstantRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\AnnotateRegexClassConstWithRegexLinkRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\CheckNotTestsNamespaceOutsideTestsDirectoryRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\CheckOptionArgumentCommandRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\CheckParentChildMethodParameterTypeCompatibleRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\ConstantMapRuleRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenReturnValueOfIncludeOnceRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\MatchingTypeConstantRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\NoDefaultExceptionRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\NoDynamicNameRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\NoDynamicPropertyOnStaticCallRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\NoFuncCallInMethodCallRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\NoInlineStringRegexRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\NoModifyAndReturnSelfObjectRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\NoParentMethodCallOnEmptyStatementInParentMethodRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\PrefixAbstractClassRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\PreventDoubleSetParameterRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\RegexSuffixInRegexConstantRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\RequireThisCallOnLocalMethodRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\RequiredAbstractClassKeywordRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\SuffixInterfaceRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\SuffixTraitRule
        tags: [phpstan.rules.rule]
    -
        class: Symplify\PHPStanRules\Rules\ClassNameRespectsParentSuffixRule
        tags: [phpstan.rules.rule]
        arguments:
            parentClasses:
                - Symfony\Component\Console\Command\Command
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - eval
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenNodeRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenNodes:
                - PhpParser\Node\Expr\ErrorSuppress
    -
        class: Symplify\PHPStanRules\Rules\RequireConstantInMethodCallPositionRule
        tags: [phpstan.rules.rule]
        arguments:
            requiredExternalConstantInMethodCall:
                TYPO3\CMS\Extbase\Mvc\Controller\ActionController:
                    addFlashMessage:
                        - 2
    -
        class: Symplify\PHPStanRules\Rules\Enum\RequireNewArgumentConstantRule
        tags: [phpstan.rules.rule]
        arguments:
            constantArgByNewByType:
                Symfony\Component\Console\Input\InputOption:
                    - 2
    -
        class: Symplify\PHPStanRules\Rules\TooDeepNewClassNestingRule
        tags: [phpstan.rules.rule]
        arguments:
            maxNewClassNesting: 2
    -
        class: Ssch\Typo3PhpstanRules\Rules\DoNotUseDeclareInConfigurationFilesRule
        tags: [phpstan.rules.rule]
    -
        class: Ssch\Typo3PhpstanRules\Rules\DoNotUseMagicConstantFileAndDirInConfigurationFilesRule
        tags: [phpstan.rules.rule]
