rules:
    - Symplify\PHPStanRules\Rules\UppercaseConstantRule
    - Symplify\PHPStanRules\Rules\AnnotateRegexClassConstWithRegexLinkRule
    - Symplify\PHPStanRules\Rules\CheckNotTestsNamespaceOutsideTestsDirectoryRule
    - Symplify\PHPStanRules\Rules\CheckOptionArgumentCommandRule
    - Symplify\PHPStanRules\Rules\CheckParentChildMethodParameterTypeCompatibleRule
    - Symplify\PHPStanRules\Rules\ConstantMapRuleRule
    - Symplify\PHPStanRules\Rules\ForbiddenReturnValueOfIncludeOnceRule
    - Symplify\PHPStanRules\Rules\MatchingTypeConstantRule
    - Symplify\PHPStanRules\Rules\NoDefaultExceptionRule
    - Symplify\PHPStanRules\Rules\NoDynamicNameRule
    - Symplify\PHPStanRules\Rules\NoDynamicPropertyOnStaticCallRule
    - Symplify\PHPStanRules\Rules\NoFuncCallInMethodCallRule
    - Symplify\PHPStanRules\Rules\NoInlineStringRegexRule
    - Symplify\PHPStanRules\Rules\NoModifyAndReturnSelfObjectRule
    - Symplify\PHPStanRules\Rules\NoParentMethodCallOnEmptyStatementInParentMethodRule
    - Symplify\PHPStanRules\Rules\PrefixAbstractClassRule
    - Symplify\PHPStanRules\Rules\PreventDoubleSetParameterRule
    - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule
    - Symplify\PHPStanRules\Rules\RequireThisCallOnLocalMethodRule
    - Symplify\PHPStanRules\Rules\RequiredAbstractClassKeywordRule
    - Symplify\PHPStanRules\Rules\SuffixInterfaceRule
    - Symplify\PHPStanRules\Rules\SuffixTraitRule
    - Ssch\Typo3PhpstanRules\Rules\DoNotUseDeclareInConfigurationFilesRule
    - Ssch\Typo3PhpstanRules\Rules\DoNotUseMagicConstantFileAndDirInConfigurationFilesRule
    - Ssch\Typo3PhpstanRules\Rules\DoNotUseUseInConfigurationFilesRule
    - Ssch\Typo3PhpstanRules\Rules\DoNotExtendInternalClassRule
    - Ssch\Typo3PhpstanRules\Rules\DoNotUseConstantsInConfigurationFilesRule

services:
    -
        class: Symplify\PHPStanRules\Rules\ClassNameRespectsParentSuffixRule
        tags: [phpstan.rules.rule]
        arguments:
            parentClasses:
                - Symfony\Component\Console\Command\Command
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - eval
                - header
                - exit
                - echo
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenNodeRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenNodes:
                - PhpParser\Node\Expr\ErrorSuppress
    -
        class: Symplify\PHPStanRules\Rules\RequireConstantInMethodCallPositionRule
        tags: [phpstan.rules.rule]
        arguments:
            requiredExternalConstantInMethodCall:
                TYPO3\CMS\Extbase\Mvc\Controller\ActionController:
                    addFlashMessage:
                        - 2
    -
        class: Symplify\PHPStanRules\Rules\Enum\RequireNewArgumentConstantRule
        tags: [phpstan.rules.rule]
        arguments:
            constantArgByNewByType:
                Symfony\Component\Console\Input\InputOption:
                    - 2
    -
        class: Symplify\PHPStanRules\Rules\TooDeepNewClassNestingRule
        tags: [phpstan.rules.rule]
        arguments:
            maxNewClassNesting: 2
