rules:
    - Symplify\PHPStanRules\Rules\NoFactoryInConstructorRule
    - Ssch\Typo3PhpstanRules\Rules\MissingDefaultValueForTypedPropertyRule
    - Ssch\Typo3PhpstanRules\Rules\DoNotUseNullableConstructorRule
